{% extends 'base.html' %}
{% block title %}Course Schedule{% endblock %}

{% block content %}
<h2>Course Schedule</h2>
<table>
    <thead>
        <tr>
            <th>Course Title</th>
            <th>Day</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for sched in schedules %}
        <tr>
            <td>{{ sched.course.title }}</td>
            <td>{{ sched.day }}</td>
            <td>{{ sched.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
